div.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #9177f7;
}

div.container form label {
    display: block;
    font-weight: bold;
    width: 300px;
}